<template>
  <div>
 {{ products }}
  </div>
</template> 

<script>


export default {
  computed: {
    products() {
       return this.$store.getters.getProductById(this.$route.params.id)
   }
 }
}
</script>

<style scoped>
</style>