<template>
  <div>
    <NavigationDrawers />
    <CartCards v-for="item in items" :key="item.id"
    :title = item.title
    :image = item.image
    :subtitle = item.subtitle    
    :text = item.text
    />
    </div>
</template>

<script>

export default {
 data() {
   return {
  items: [
        {
             id: 0,
              title: 'Accesories',
              image:
                'https://res.cloudinary.com/ephraim/image/upload/v1642760898/fe6_zqx4uz.jpg',
              subtitle:
                'This fire extinguisher saved homes from completely burning down. People that used it only had 98% of their homes burned down.',
              text: ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface witho',
            },
            {
              id: 1,
              title: 'Headset',
              image:
                'https://res.cloudinary.com/ephraim/image/upload/v1642760900/fe7_ikpwnt.jpg',
              subtitle:
                "This is one of the most red fire extinguishers you will ever see. Super clean. It's pretty much useless otherwise.",
              text: ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document',
            },
            {
              id: 2,
              title: 'Camera',
              image:
                'https://res.cloudinary.com/ephraim/image/upload/v1642760909/fe8_dhewkl.jpg',
              subtitle:
                'If you ever find that your pool is on fire then this is the fire extinguisher for you. It has a 100% success rate.',
              text: ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate',
           },
            {
              id: 3,
              title: 'Digital Watch',
              image:
                'https://res.cloudinary.com/ephraim/image/upload/v1642760906/fe9_doxhy4.jpg',
              subtitle:
                "This is hands down the worst fire extinguisher you can use in a crisis. The radiation will kill you if the fire doesn't",
              text: ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form',
            },
            {
              id: 4,
              title: 'Digital Watch',
              image:'https://res.cloudinary.com/ephraim/image/upload/v1642762231/fe10_w8qaxs.jpg',
              subtitle:
                'This one is made out of 50k worth of pure silver and white gold. The metal choice was a poor for functionality, but was great for style!',
              text: ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of',
            },
            {
              id: 5,
              title: 'Two in One Fire Extinguisher',
              image:'https://res.cloudinary.com/ephraim/image/upload/v1642762231/11_b1wts6.jpg',
              subtitle:
                "This is the first ever two in one fire extinguisher. Good if both you and your friend's houses are burining down",
              content:
                ' publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual',
            },
      ]
    }
  }
      
      

}
    
    
</script>

<style>
</style>