<template>
    <div class="card">
 <v-card
 class="mx-auto"
 max-width="330">

 <v-img
 :src= image
 height="300px"></v-img>

 <v-card-title>
     {{ title }}
 </v-card-title>

 <v-card-subtitle>
      {{ subtitle }}
 </v-card-subtitle>

 <v-card-actions>
     <v-btn
      color="porange ligthen-2"
      text>
       {{ actions }}
     </v-btn>

     <v-spacer></v-spacer>

     <v-btn
     icon
     @click="show = !show">

     <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
     </v-btn>
 </v-card-actions>

 <v-expand-transition>
     <div v-show="show">
         <v-divider></v-divider>

<v-card-text>
   {{ text }}
</v-card-text>
     </div>
 </v-expand-transition>
 </v-card>
    </div>
</template>

<script>
    export default {
       props: ['image', 'title', 'subtitle', 'text'],
      data() {
    return {
       show: false,

    }
  }
    }
</script>

<style scoped>
.card{
  margin-left: 1rem;
  
}
</style>