<template>
    <div>
<v-footer 
  dark
  padless>

  <v-card
   flat
   tile
   class="indigo lighten-1 white--text text-center">

   <v-card-text>
       <v-btn
       v-for="icon in icons"
       :key="icon"
       class="mx-4 white--text"
       icon>
       <v-icon size="24px">
           {{ icon }}
       </v-icon>
       </v-btn>
   </v-card-text>

   <v-card-text class="white--text pt-0">
        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum 
   </v-card-text>

<v-divider></v-divider>
<v-card-text class="white--text">
    {{ new Date().getFullYear() }} - <strong>Vuetify</strong>
</v-card-text>
  </v-card>
</v-footer>
    </div>
</template>

<script>
    export default {
    data: () => ({
        icons: [
            'mdi-facebook',
            'mdi-twitter',
            'mdi-instagram'
        ]
    })
    }
</script>

<style scoped>
</style>