<template>
<nav>
   <div class="logo">
      <p>Amazon</p>
   </div>
     <ul>
       <li>
         <nuxt-link class="nuxt" to="/">Home</nuxt-link>
         </li>

       <li>
         <nuxt-link class="nuxt" to="/cart">Cart</nuxt-link>
         </li>

       <li>
         <nuxt-link class="nuxt" to="/about">About</nuxt-link>
         </li>

       <li>
         <nuxt-link class="nuxt" to="/contact Us">Contact Us</nuxt-link>
         </li>

     </ul>
  </nav> 


</template>

<script>
export default {
  name: 'Navbar'
}
</script>



<style scoped>

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  width: 100%;
  height: 75px;
  background-color: #505d61;
  line-height: 75px;
  padding:0px 100px;
  position: fixed;
  z-index: 1;
}
nav .logo{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
nav .logo p{
  float: right;
  color: #fff;
  text-transform: uppercase;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
}
nav ul li .nuxt{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 32px;
}
nav ul li .nuxt:hover{
  color: #c0d96f;
}

</style>