<template>
<nav>
  <div>
    <v-navigation-drawer v-model="drawer" app class="indigo">
      <h1 class="logo">Cart</h1>
      <ul>
        <li>
      <nuxt-link class="cart" to="/cart/Gadgets">Gadget</nuxt-link>
        </li>
        <li>
          <nuxt-link class="ward" to="/cart/Wardrobe">Wardrobe</nuxt-link>
        </li>
      </ul>
    </v-navigation-drawer>
  </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
    }
  },
}
</script>

<style scoped>
.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 1.5%;
}
.logo{
  color: black;
  text-transform: uppercase;
}
.cart{
  margin: 30px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 10px;
  letter-spacing: 1.1px;
  text-align: left;
  color: grey
}
.ward{
  margin-top: 30px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 10px;
  text-align: left;
  color: grey
}
nav ul li .cart:hover{
  color: #c0d96f;
}

</style>