<template>
  <div class="card">
    <v-card class="mx-auto" max-width="344">
      <v-img :src="image" height="200px"></v-img>

      <v-card-title class="header">
        {{ title }}
      </v-card-title>

      <v-card-subtitle>
        {{ subtitle }}
      </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange ligthen-2" text> Explore </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chron' }}</v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text class="snippet">
            {{ text }}
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
</template>

<script>

export default {
  name: 'ProductCards',
  props: ['image', 'title', 'subtitle', 'text'],
  data() {
    return {
      show: false,
    }
  },
  
}
</script>

<style scoped>
.card {
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 0%;
}
.header {
  font-weight: 700;
  font-size: 1.5rem;
}
.snippet {
  color: grey;
  margin-bottom: 1.5rem;
}
</style>