<template>
  <div>
    <v-carousel>
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: 'https://res.cloudinary.com/ephraim/image/upload/v1641420143/ecomm/img2_avgrk1.jpg',
        },
        {
          src: 'https://res.cloudinary.com/ephraim/image/upload/v1641420132/ecomm/img4_yn3ghd.jpg',
        },
        {
          src: 'https://res.cloudinary.com/ephraim/image/upload/v1641420128/ecomm/img3_g7wu8h.jpg',
        },
      ],
    }
  },
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.load {
  animation: slide 2s;
}
.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  animation: slide 40s infinite;
}
</style>