<template>
    <div>
  <h1>Contact Us</h1>
    </div>
</template>

<script>
    export default {
          head() {
            return{
                title: "Contact Us"
            }
        }
        
    }
</script>

<style>

</style>