<template>
<div>
  <NuxtLink to="/">Go back</NuxtLink>
   <Nuxt />  
</div>  
</template>

<script>
import Navbar from '../components/Navbar'

export default {
  components: {
    Navbar
   }
  }
</script>
