<template>
    <div>
 <h1>About</h1>
    </div>
</template>

<script>
    export default {
         head() {
            return{
                title: "about"
            }
        }
        
    }
</script>

<style>

</style>